:root {
  --color-2: #66d3ff;
  --color: #d7f0f4;
  --black: #010101;
  --white: white;
  --black-2: black;
}

h1 {
  color: var(--color-2);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Orbitron, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 44px;
}

h2 {
  color: var(--color-2);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Orbitron, sans-serif;
  font-size: 1.66667rem;
  font-weight: 500;
  line-height: 36px;
}

h3 {
  color: var(--color);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  font-family: Orbitron, sans-serif;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.body {
  background-color: var(--black);
  font-family: Open Sans, sans-serif;
}

.hero-section {
  mix-blend-mode: normal;
  max-width: none;
  height: auto;
  overflow: hidden;
}

.hero-flex {
  height: 100vh;
  display: flex;
}

.navbar {
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.hero {
  background-image: url('../images/hero_1.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  display: flex;
  position: relative;
}

.lottie-animation {
  max-width: none;
}

.navlink {
  color: var(--color);
  text-align: center;
  text-transform: uppercase;
  font-family: Orbitron, sans-serif;
  font-size: 1.875rem;
  line-height: 2.9rem;
  text-decoration: none;
  transition: color .4s;
}

.navlink:hover {
  color: var(--color-2);
  font-weight: 400;
}

.navlink.footer {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
}

.link-block {
  z-index: 2;
  width: 15%;
  height: 13%;
  position: relative;
}

.image {
  display: block;
  overflow: hidden;
}

.image-2 {
  max-width: none;
  display: block;
  position: absolute;
  inset: 50% 0% 0% 35%;
}

.image-3 {
  position: absolute;
  inset: 0% 0% auto auto;
}

.div-block {
  display: flex;
}

.social-container {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 0;
  display: flex;
}

.info-container {
  justify-content: space-around;
  align-items: stretch;
  width: 70%;
  padding-top: 40px;
  padding-bottom: 0;
  display: flex;
}

.intro-paragraph {
  color: var(--color);
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.intro-paragraph.tabs-paragraph {
  margin-left: 90px;
  margin-right: 90px;
}

.intro-text {
  color: var(--color);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 2rem;
}

.div-block-2 {
  width: 50%;
}

.heading-container {
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
}

.heading-container.tabs {
  margin-top: 60px;
  margin-bottom: 60px;
}

.line {
  max-width: 33%;
  transform: rotate(0);
}

.line.reversed {
  vertical-align: baseline;
  transform-style: preserve-3d;
  max-height: none;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
}

.line.reversed.no-padding {
  margin-bottom: 0;
}

.heading {
  white-space: nowrap;
  word-break: normal;
  max-width: 34%;
}

.grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 60px;
  display: grid;
}

.grid.card-grid {
  margin-left: 60px;
  margin-right: 60px;
}

.cell {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.cell.flex {
  flex-flow: column;
  justify-content: space-between;
  display: flex;
}

.cell.card {
  background-color: #1a1a1a;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.cell.relative-cell {
  position: relative;
}

.info-text {
  color: var(--color-2);
  padding-bottom: 40px;
  padding-left: 60px;
  font-size: 1.25rem;
  line-height: 2rem;
}

.text-span {
  font-weight: 600;
}

.text-span.white {
  color: var(--color);
  font-weight: 700;
}

.blue-paragraph {
  color: var(--color-2);
  padding-left: 60px;
  padding-right: 60px;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.blue-paragraph.centered {
  text-align: center;
}

.blue-paragraph.small-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.blue-paragraph.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.reversed {
  transform-style: preserve-3d;
  margin-bottom: 20px;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
}

.image-4, .heading-3, .heading-4 {
  margin-bottom: 20px;
}

.half-width {
  width: 50%;
  display: inline-block;
}

.div-block-4 {
  display: block;
}

.div-block-5 {
  display: flex;
}

.section {
  overflow: hidden;
}

.grid-city {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: url('../images/bcg-zd.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: 60px;
  margin-right: 60px;
  display: grid;
}

.bold-text {
  font-weight: 600;
}

.map {
  max-width: 90%;
  margin-left: 60px;
  margin-right: 0;
  overflow: hidden;
}

.link {
  color: var(--color-2);
  font-weight: 700;
  text-decoration: none;
}

.link.white {
  color: var(--color);
}

.link.red {
  color: #ff6669;
}

.link-2 {
  color: var(--color-2);
  font-weight: 700;
  text-decoration: none;
  transition: color .4s;
}

.link-2:hover {
  color: var(--color);
}

.image-5 {
  margin-bottom: 20px;
}

.div-block-6 {
  width: auto;
}

.heading-5 {
  text-transform: capitalize;
}

.cell-heading {
  text-align: left;
  text-transform: capitalize;
  margin-left: 60px;
  margin-right: 60px;
}

.cell-heading.small-padding {
  margin-left: 20px;
  margin-right: 20px;
}

.heading-6, .heading-7, .heading-8 {
  margin-left: 0;
}

.footer {
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  overflow: hidden;
}

.footer-light {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px 40px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link-two:hover {
  color: #1a1b1fbf;
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::placeholder {
  color: #1a1b1fcc;
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  height: 48px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.div-block-7 {
  margin-bottom: 60px;
}

.navigation-container {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  display: flex;
}

.navigation-container.hide {
  display: none;
}

.image-6 {
  max-width: 40%;
}

.div-block-8 {
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  display: flex;
}

.social-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.social-icon {
  max-width: 60%;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .4s;
}

.social-icon:hover {
  transform: rotate(180deg);
}

.social-icon.big {
  max-width: none;
}

.lottie-animation-2 {
  display: none;
}

.lottie-animation-3 {
  max-width: 10%;
  display: none;
  position: absolute;
  inset: auto 0% 10% 50%;
  transform: rotate(-90deg);
}

.section-2 {
  max-width: 1440px;
}

.link-block-3, .link-block-4 {
  display: none;
}

.image-9 {
  max-width: 90%;
  margin-left: 60px;
  transition: all .4s;
  overflow: hidden;
}

.image-9:hover {
  transform: scale(1.1);
}

.section-3 {
  overflow: hidden;
}

.bold-text-2 {
  color: var(--color);
}

.white-bold-text {
  color: var(--color);
  line-height: 2rem;
}

.gradient-line {
  background-image: linear-gradient(277deg, var(--black) 14%, var(--color-2));
  height: 1px;
  margin-bottom: 20px;
}

.gradient-line-mark {
  background-image: linear-gradient(270deg, var(--black), var(--color-2));
  text-align: left;
  width: 33%;
  height: 1px;
}

.gradient-line-mark.reversed {
  background-image: linear-gradient(90deg, var(--black), var(--color-2));
  margin-bottom: 0;
}

.gradient-line-mark._2 {
  background-image: linear-gradient(90deg, var(--black), var(--color-2));
}

.heading-14 {
  text-align: center;
}

.logo-container-hero {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-bottom: 20px;
  display: block;
  position: absolute;
  inset: auto 0% 0% auto;
}

.logo {
  max-width: 20%;
}

.logo.span {
  max-width: 16%;
}

.image-11 {
  max-width: 20%;
}

.ticket-heading {
  text-align: center;
  margin-left: 0;
}

.ticket-link {
  color: var(--color-2);
  cursor: pointer;
  text-decoration: none;
}

.logo-container {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 90px;
  display: flex;
}

.image-12 {
  max-width: 20%;
}

.body-2 {
  background-color: var(--black);
}

.tabs-menu {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
  inset: auto 0% 0%;
}

.tab-link-tab-1 {
  background-color: #ddd0;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 0 0;
  background-size: auto;
  border: 4px #0000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
  position: relative;
}

.tab-link-tab-1.w--current {
  background-color: #ddd0;
  transition: all .4s;
  transform: scale(1.3);
}

.div-block-9 {
  background-color: var(--black);
  border-radius: 0%;
  width: 60px;
  height: 60px;
  position: static;
  inset: 0%;
}

.tabs-content {
  justify-content: center;
  align-items: flex-start;
  height: auto;
  min-height: auto;
  max-height: none;
  display: flex;
  overflow: auto;
}

.tab-icon {
  opacity: .5;
  max-width: none;
  margin-bottom: 0;
  transition: all .4s;
}

.tab-icon:hover {
  opacity: 1;
  transform: rotate(180deg);
}

.image-14 {
  max-width: 10%;
  margin-left: 60px;
  display: none;
}

.div-block-10 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-15 {
  clear: none;
  opacity: .2;
  color: var(--color-2);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 90px;
  display: inline-block;
}

.tab-link-tab-2 {
  background-color: #ddd0;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
}

.tab-link-tab-2:active {
  background-color: #ddd0;
}

.tab-link-tab-2.w--current {
  background-color: #ddd0;
  transition: all .4s;
  transform: scale(1.3);
}

.image-15 {
  max-width: none;
}

.tab-link-tab-3 {
  background-color: #ddd0;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
}

.tab-link-tab-3.w--current {
  background-color: #ddd0;
  transition: all .4s;
  transform: scale(1.3);
}

.image-16 {
  max-width: none;
}

.tab-link-tab-4 {
  background-color: #ddd0;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
}

.tab-link-tab-4.w--current {
  background-color: #ddd0;
  transition: all .4s;
  transform: scale(1.3);
}

.tab-link-tab-5 {
  background-color: #ddd0;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
}

.tab-link-tab-5.w--current {
  background-color: #ddd0;
  transition: all .4s;
  transform: scale(1.3);
}

.tab-link-tab-6 {
  background-color: #ddd0;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
}

.tab-link-tab-6.w--current {
  background-color: #ddd0;
  transition: all .4s;
  transform: scale(1.3);
}

.tab-link-tab-7 {
  background-color: #ddd0;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 50%;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
}

.tab-link-tab-7.w--current {
  background-color: #c8c8c800;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  height: 70px;
  transition: all .4s;
  display: flex;
  transform: scale(1.3);
}

.tab-link-tab-8 {
  background-color: #ddd0;
  background-image: url('../images/Ellipse-39.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
}

.tab-link-tab-8.w--current {
  background-color: #ddd0;
  transition: all .4s;
  transform: scale(1.3);
}

.span-accent {
  color: var(--color-2);
  font-family: Orbitron, sans-serif;
  font-size: 1.5rem;
}

.span-accent.red {
  color: #ff676a;
}

.tabs-2 {
  height: auto;
  display: none;
}

.text-block {
  color: var(--color-2);
}

.div-block-11 {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.text-block-2 {
  opacity: .5;
  color: var(--color-2);
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 600;
}

.text-span-4 {
  color: #ff676a;
}

.text-span-5 {
  color: #ff676a;
  text-decoration: none;
}

.tickets {
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-family: Orbitron, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  inset: 45% 0% 0% 3%;
}

.schedule-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  display: grid;
}

.grid-text-block {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 25px;
}

.grid-text-block.blue {
  color: var(--color-2);
}

.grid-text-block.blue.centered, .grid-text-block.centered {
  text-align: center;
}

.schedule-text {
  color: var(--color-2);
  margin-left: 60px;
  margin-right: 60px;
  font-weight: 400;
}

.grid-schedule-heading {
  margin-left: 0;
}

@media screen and (min-width: 1440px) {
  h3 {
    color: var(--color);
    text-transform: uppercase;
    font-family: Orbitron, sans-serif;
    font-size: 1.5625rem;
    font-weight: 600;
  }

  .navbar {
    width: 30%;
  }

  .hero {
    width: 70%;
  }

  .lottie-animation {
    max-width: none;
  }

  .link-block {
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 12%;
    display: flex;
  }

  .grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 60px;
    display: grid;
  }

  .heading-2 {
    margin-left: 60px;
  }

  .blue-paragraph {
    padding-right: 60px;
  }

  .tickets {
    text-align: center;
  }
}

@media screen and (min-width: 1920px) {
  h3 {
    font-size: 2rem;
  }

  .navlink {
    font-size: 2.6rem;
  }

  .navlink.footer {
    font-size: 1.5rem;
  }

  .intro-paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .intro-text {
    font-size: 1.5rem;
  }

  .heading {
    font-size: 3rem;
  }

  .info-text {
    font-size: 1.5rem;
  }

  .blue-paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .cell-heading.small-padding {
    line-height: 40px;
  }

  .heading-9 {
    font-size: 2rem;
  }

  .ticket-link {
    cursor: pointer;
  }

  .tickets {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  h3 {
    margin-left: 20px;
    font-size: 1.4rem;
  }

  .hero-flex {
    position: relative;
  }

  .navbar {
    z-index: 3;
    background-color: var(--black);
    width: 100%;
    position: absolute;
    inset: 0% 0% 0% -100%;
  }

  .hero {
    width: 100%;
  }

  .link-block {
    width: 19%;
    height: 14%;
  }

  .image-3 {
    inset: 0% auto auto 0%;
  }

  .div-block {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .info-container {
    width: auto;
  }

  .intro-paragraph.tabs-paragraph {
    margin-left: 40px;
    margin-right: 40px;
  }

  .heading-container {
    margin-bottom: 60px;
  }

  .heading {
    word-break: normal;
    font-size: 2rem;
  }

  .grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .grid.card-grid {
    margin-left: 20px;
    margin-right: 20px;
  }

  .cell.flex {
    justify-content: flex-start;
  }

  .cell.card {
    margin-left: 0;
    margin-right: 0;
  }

  .blue-paragraph {
    padding-left: 20px;
    padding-right: 20px;
  }

  .grid-city {
    background-size: contain;
    margin-left: 0;
    margin-right: 0;
  }

  .map {
    max-width: 90%;
    margin-left: 20px;
  }

  .container {
    max-width: 728px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }

  .navigation-container {
    flex-flow: row-reverse wrap;
  }

  .image-6 {
    max-width: 50%;
  }

  .image-8 {
    display: none;
  }

  .lottie-animation-2 {
    z-index: 4;
    opacity: .8;
    cursor: pointer;
    max-width: 10%;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    position: absolute;
    inset: 0% 0% auto auto;
  }

  .heading-10 {
    margin-left: 20px;
  }

  .heading-11, .heading-12 {
    font-size: 1.4rem;
  }

  .image-9 {
    margin-left: 0;
  }

  .link-block-5, .heading-14 {
    text-align: center;
  }

  .logo-container-hero {
    width: auto;
    inset: auto 0% 0%;
  }

  .tabs-menu {
    flex-flow: wrap;
  }

  .text-block-2 {
    margin-bottom: 10px;
  }

  .tickets {
    line-height: 20px;
    top: 45%;
    left: 0%;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url('../images/bcg-mobile.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .lottie-animation {
    position: absolute;
    inset: 0%;
  }

  .navlink.footer {
    font-size: .9rem;
    line-height: 1.5rem;
  }

  .link-block {
    width: 18%;
    height: 12%;
  }

  .image-2 {
    left: 10%;
  }

  .line.reversed {
    margin-bottom: 0;
  }

  .grid {
    flex-flow: column;
    grid-template-columns: 1fr;
    display: flex;
  }

  .cell.card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .info-text {
    padding-left: 20px;
  }

  .grid-city {
    background-size: contain;
    flex-flow: column;
    display: flex;
  }

  .map {
    max-width: none;
    margin-left: 0;
  }

  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .navigation-container {
    margin-bottom: 20px;
  }

  .image-6 {
    max-width: 50%;
  }

  .lottie-animation-2 {
    max-width: 15%;
  }

  .logo-container-hero {
    inset: auto 0% 0%;
  }

  .logo {
    max-width: 40%;
  }

  .logo.span {
    max-width: 30%;
  }

  .logo-container {
    margin-bottom: 60px;
  }

  .text-block-2 {
    margin-bottom: 10px;
  }

  .tickets {
    font-size: 1.1rem;
    left: 0%;
  }

  .schedule-grid {
    grid-column-gap: 9px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    text-align: left;
    margin-left: 10px;
    font-size: 2rem;
  }

  h3 {
    margin-left: 10px;
  }

  .body {
    background-color: var(--black);
  }

  .hero-flex {
    height: 100vh;
  }

  .hero {
    background-image: url('../images/bcg-mobile.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navlink {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .link-block {
    z-index: 2;
    width: 25%;
    height: 10%;
    position: relative;
  }

  .image {
    overflow: visible;
  }

  .image-2 {
    max-width: 100%;
    left: 0%;
  }

  .image-3 {
    max-width: 30%;
  }

  .social-container {
    width: auto;
  }

  .info-container {
    flex-flow: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .intro-paragraph.tabs-paragraph {
    margin-left: 10px;
    margin-right: 10px;
  }

  .div-block-2 {
    width: auto;
  }

  .heading-container, .heading-container.tabs {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .line {
    display: none;
  }

  .line.reversed.no-padding {
    display: block;
  }

  .heading {
    max-width: none;
  }

  .grid {
    margin-top: 20px;
  }

  .grid.card-grid {
    margin-left: 10px;
    margin-right: 10px;
  }

  .info-text {
    padding-left: 20px;
  }

  .blue-paragraph {
    padding-left: 10px;
    padding-right: 10px;
  }

  .reversed {
    overflow: visible;
  }

  .image-4 {
    display: block;
    overflow: visible;
  }

  .half-width {
    width: auto;
  }

  .div-block-5 {
    flex-flow: column;
  }

  .grid-city {
    background-size: contain;
    background-attachment: fixed;
  }

  .link {
    font-family: Open Sans, sans-serif;
    text-decoration: none;
  }

  .container {
    max-width: none;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .image-6 {
    max-width: 60%;
    margin-bottom: 20px;
  }

  .div-block-8 {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .image-8 {
    display: none;
  }

  .lottie-animation-2 {
    max-width: 20%;
  }

  .heading-13 {
    font-size: 2rem;
  }

  .link-block-2 {
    text-align: center;
  }

  .image-9 {
    text-align: left;
    max-width: 95%;
    margin-left: 0;
    margin-right: 0;
  }

  .link-block-5 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
  }

  .heading-14.tabs {
    font-size: 1.7rem;
    line-height: 35px;
  }

  .logo-container-hero {
    inset: auto 0% 0%;
  }

  .logo.span {
    max-width: 30%;
  }

  .ticket-heading {
    text-align: left;
    margin-left: 10px;
  }

  .logo-container {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }

  .image-12 {
    max-width: 60%;
  }

  .tabs-menu {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .tab-link-tab-1 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
  }

  .tab-icon {
    width: 25px;
    max-width: none;
    height: 25px;
  }

  .heading-15 {
    font-size: 1.8rem;
    line-height: 50px;
  }

  .tab-link-tab-2, .tab-link-tab-3, .tab-link-tab-4, .tab-link-tab-5, .tab-link-tab-6 {
    background-size: cover;
    width: 60px;
    height: 60px;
  }

  .tab-link-tab-7 {
    background-size: cover;
    width: 60px;
    height: 60px;
    overflow: visible;
  }

  .tab-link-tab-7.w--current {
    background-size: cover;
    height: 60px;
  }

  .tab-link-tab-8 {
    background-size: cover;
    width: 60px;
    height: 60px;
  }

  .text-span-2, .text-span-3, .link-3 {
    text-decoration: none;
  }

  .text-block-2 {
    margin-bottom: 10px;
  }

  .tickets {
    font-size: .8rem;
    inset: 40% 0% 0%;
  }

  .schedule-grid {
    grid-column-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .grid-text-block, .grid-text-block.blue {
    text-align: left;
    font-size: .9rem;
  }
}

#w-node-_281084e6-c6b6-0c18-c313-1682f916d5e1-6fb414c8 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-e1ac187f-b731-a234-f8a2-9087143b96e4-6fb414c8, #w-node-_07993ce0-9e26-bb4f-3453-1d49e0d90fa7-6fb414c8, #w-node-_02ef8a5c-fa19-35f3-d846-e3026df4e563-6fb414c8, #w-node-_3183e2cd-3392-b998-f1d0-7feea1a69243-6fb414c8, #w-node-_3a4d21b9-46ac-7678-ceb5-5eaf2fb2a7ae-6fb414c8, #w-node-_81677e46-ae93-a384-8c85-c0eb64fad357-6fb414c8, #w-node-e0090563-0643-f573-7965-7773cc8ccf04-6fb414c8, #w-node-f544a10b-20aa-ba4f-86e2-3505f3e3e4f6-6fb414c8, #w-node-_27abe44c-e975-09a2-ab72-922755c1d7bd-6fb414c8, #w-node-_8fd75bcf-8ac0-b732-ba46-344771227066-6fb414c8, #w-node-f0b63a60-bfbd-3c89-4785-47a974f273cb-6fb414c8, #w-node-e91fefa0-5cd5-94b5-a7cf-c9411a085281-6fb414c8, #w-node-_238a1ea6-a7af-3b02-3604-e91d25f211aa-6fb414c8, #w-node-_728e2804-084c-dc46-fe1b-2c1f3bae4c53-6fb414c8, #w-node-_43f648cf-0634-25b5-038d-9dcea20adf85-6fb414c8, #w-node-_5e145900-81e0-eabe-4774-2defb73bb4ac-6fb414c8, #w-node-cd3f09de-6003-6a9a-08b3-40856ac138c5-6fb414c8, #w-node-_2ff6333b-c3a6-e33c-4d14-4b3a4c10c783-6fb414c8, #w-node-f7b74727-b674-1f24-a278-f251075eaa4e-6fb414c8, #w-node-eca51453-4fe0-3890-438d-e20658a865c9-6fb414c8, #w-node-_78dfa47c-0f1d-43bb-46d1-92ee4f5023e9-6fb414c8, #w-node-_771b58aa-dbc6-90a5-714b-d8c2a29a002d-6fb414c8, #w-node-_6e31bf75-f777-b787-ed7c-1d7a445139cf-6fb414c8, #w-node-_716be7f4-546a-b084-fda9-85f7f343d68d-6fb414c8, #w-node-e0e06004-fedb-acac-2048-8f1407713537-6fb414c8, #w-node-_02020ba6-125b-c552-57d3-d09de02183c7-6fb414c8, #w-node-_4c4efe71-4b9e-200a-51d0-9caf61af6712-6fb414c8, #w-node-_3e9c507b-ce15-9bc0-6824-f4257531b556-6fb414c8, #w-node-_52864ff0-fc5d-8cc3-114e-86b84158880b-6fb414c8 {
  align-self: center;
}

#w-node-_84afce00-568a-6b49-9a42-d29d6c655f9c-6fb414c8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ab94762b-f73d-5d37-42b8-f40f9d73dda2-6fb414c8 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-a80f45f2-10f3-af1a-36a4-e91c221bc001-6fb414c8 {
  place-self: stretch;
}

@media screen and (max-width: 991px) {
  #w-node-_84afce00-568a-6b49-9a42-d29d6c655f9c-6fb414c8 {
    grid-column: span 1 / span 1;
    place-self: center;
  }

  #w-node-ab94762b-f73d-5d37-42b8-f40f9d73dda2-6fb414c8 {
    grid-column: span 2 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_3a4d21b9-46ac-7678-ceb5-5eaf2fb2a7ae-6fb414c8 {
    justify-self: auto;
  }
}


